.main .title-row {
  position: relative;
}
.main h3{
font-weight: 300;
margin: 1em 0;
margin-bottom: 5px;
font-size: 24px;
line-height: 30px;
}

.photo-list-view {
position: relative;
}

.masonry {
width: auto;
height: auto;
max-width: 100%;
}

.photo-view{
position: absolute;
}

.photo-view img{
  width: 100%;
  height: 100%;
}
.photo-view .interaction-view {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.photo-list-photo-interaction {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
a.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.photo-list-photo-interaction .interaction-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px 8px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.photo-list-photo-interaction .interaction-bar .text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  min-height: 0;
  margin-right: 12px;
}

.photo-list-photo-interaction .interaction-bar .text .attribution, .photo-list-photo-interaction .interaction-bar .text .title {
  display: block;
  margin: 2px 0 0;
  text-shadow: 0 0 2px #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

.photo-list-photo-interaction .interaction-bar a, .photo-list-photo-interaction .interaction-bar a:hover {
  text-decoration: none;
}

.photo-list-photo-interaction .interaction-bar .text .title {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  min-height: 17px;
}

.photo-list-photo-interaction .interaction-bar .text .attribution {
  color: hsla(0,0%,100%,.7);
  font-size: 11px;
  -webkit-transition: color .15s linear;
  transition: color .15s linear;
}


.loading{
position: fixed;
height: 100%;
width: 100%;
background-color: white;
top: 0;
left: 0;
transition: 0.1s ease-in-out;
opacity: 0;
z-index: -1;
}

.loading.show{
  opacity: 1;
  z-index: 99;
}

.loading img{
  margin: 0 auto;
  display: block;
  margin-top: 180px;
}

.bottom-loading{
text-align: center;
transition: 0.1s ease-in-out;
display: none;
margin-top: 20px;
}

.bottom-loading.show{
  display: block;
}